<header>

   <div class='course'>

      <div *ngIf='currService.isLoading'>
         
         Current date : <span class='isLoading'>Loading...</span>
      </div>

      <div *ngIf='!currService.isLoading'>
         
         Current date : {{dateOfReceive | date:'dd.MM.yyy'}}
      </div>


      <div class='course__eur'>
         USD <span class='course__uah'>UAH </span>
         {{currService.objCurrencies['USD'] | number: '.0-4'}}
      </div>

      <div class='course__usd'>
         EUR <span class='course__uah'>UAH</span>
         {{currService.objCurrencies['EUR'] | number: '.0-4'}}
      </div>
      <br>

      
      <div *ngIf='errorMessage'>{{errorMessage}} ></div>

   </div>

</header>


