
.container {
   text-align: center;
   margin: 0 auto;
   width: 320px;
   margin-top: 50px;
}

.border-1px {
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 8px;
}



.pad-left-10px {
   padding-left: 10px;
}

a {
   text-decoration: none;
}


